<p id="notice"><%= notice %></p>

<p>
  <b>Route:</b>
  <%= @line_item.route_id %>
</p>

<!--<b>Product:</b>
<%#= @line_item.product_id %>-->

<p>
  <b>Cart:</b>
  <%= @line_item.cart_id %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
