<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>Welcome to BusRoutes.ie</h1>
<h4>Busroutes.ie is a family business located in Dublin since 1961.
  We run scheduled services on a number of routes in Ireland and also
  provide coach tours, event travel and private hire. Each one of our
  Scheduled Services runs 10 times per day. Have a look at our list of
  routes below leave the car behind for a stress free journey.

</h4>    <!-- Busroutes.ie is located in Dublin, we have expansion
  plans in 2013, at the moment we run scheduled services from Dublin to:
  .Wexford.	.Limerick. .Cork. .Galway. .Donegal. .Dundalk.-->


<% @routes.each do |route| %>
    <div class="entry">

      <h3>From: <%= route.start%> To: <%= route.finish%>Outbound route code: <%= route.outbound_code%> </h3>
      <h4>From: <%= route.finish%> To: <%= route.start%> Inbound route code:  <%= route.inbound_code%> </h4>
      <!--<p>9 stops on this route, 3 stops per zone, ticket prices are based on the number of zones travelled. </p>-->

      <%= link_to 'Further information and Ticket Purchase here', route %>        <!-- dee add notes here you can put route not route_path when you are inside a do loop as you are dealing with one record at a time  -->

    </div>

<% end %>


